<div class="row">
  <div class="col-lg-6">
    <nb-card size="small">
      <nb-card-header>BREAK FAST MENU</nb-card-header>
      <nb-card-body>
        <p>Find out your favourite breakfast.</p>
        <button class="btn btn-danger with-margins" nbPopover="Milk tea and baked bread with applied magarine" nbPopoverMode="hint" nbPopoverPlacement="Milk Tea">Milk Tea</button>
        <button class="btn btn-danger with-margins" nbPopover="Black coffee with boiled egg and sosauge" nbPopoverMode="hint" nbPopoverPlacement="top">Black Coffee</button>
        <button class="btn btn-danger with-margins" nbPopover="Milk cocoa with samosa nad Matumbo" nbPopoverMode="hint" nbPopoverPlacement="bottom">Milk Cocoa</button>
        <button class="btn btn-danger with-margins" nbPopover="Milk soya with andazi and witabix" nbPopoverMode="hint" nbPopoverPlacement="right">Milk Soya</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card size="small">
      <nb-card-header>LUNCH MENU</nb-card-header>
      <nb-card-body>
        <p>The best to keep you going, nutricious and of quality.</p>
        <button class="btn btn-success with-margins" nbPopover="Ugali with natural greens i.e managu">Greens</button>
        <button class="btn btn-success with-margins" nbPopover="Pilau with chicken stew" nbPopoverMode="hover">Pilau</button>
        <button class="btn btn-success with-margins" nbPopover="Brownrice with beans or ndengu" nbPopoverMode="hint">Brown Rice</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">

    <ng-template #tabs>
      <nb-tabset>
        <nb-tab tabTitle="What's up?">
          <div class="p-4">
            Such a wonderful day!
          </div>
        </nb-tab>
        <nb-tab tabTitle="Second Tab">
          <div class="p-4">
            Indeed!
          </div>
        </nb-tab>
      </nb-tabset>
    </ng-template>

    <ng-template #form>
      <div class="p-4">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Recipients">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary w-100">Send</button>
        </form>
      </div>
    </ng-template>

    <ng-template #card>
      <nb-card class="popover-card">
        <nb-card-header status="warning">
          Hello!
        </nb-card-header>
        <nb-card-body>
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        </nb-card-body>
      </nb-card>
    </ng-template>

    <nb-card size="small">
      <nb-card-header>SUPPER MENU</nb-card-header>
      <nb-card-body>
        <p>Wecome to the pure true African dishes.</p>
        <button class="btn btn-warning with-margins" [nbPopover]="tabs">Sucha Greens</button>
        <button class="btn btn-warning with-margins" [nbPopover]="form">Namasaka Greens</button>
        <button class="btn btn-warning with-margins" [nbPopover]="card">Kunde Greens</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card size="small">
      <nb-card-header>OTHER MENUS</nb-card-header>
      <nb-card-body>
        <p>Same way popover can render any angular compnoent.</p>
        <button class="btn btn-warning with-margins" [nbPopover]="tabsComponent">Snacks</button>
        <button class="btn btn-warning with-margins" [nbPopover]="formComponent">Cold Drinks</button>
        <button class="btn btn-warning with-margins" [nbPopover]="cardComponent">Meat Roasting</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>EVENTS TIMELINE</nb-card-header>
      <nb-card-body>
        <p>below is the schedule of our events</p>

        <button class="btn btn-outline-secondary" nbPopover="2TH MAY" nbPopoverMode="hint">
          W.H.O CONFERENCE
        </button>
        <button class="btn btn-outline-secondary" nbPopover="5TH MAY" nbPopoverMode="hint">
          COUNTY MEETING
        </button>
        <button class="btn btn-outline-secondary" nbPopover="10TH MAY" nbPopoverMode="hint">
          DELEGATES CONFERENCE
        </button>
        <button class="btn btn-outline-secondary" nbPopover="15TH MAY" nbPopoverMode="hint">
          COMMISIONERS MEETING
        </button>
        <button class="btn btn-outline-secondary" nbPopover="18TH MAY" nbPopoverMode="hint">
          PUBLIC BRIEFING
        </button>
        <button class="btn btn-outline-secondary" nbPopover="25TH MAY" nbPopoverMode="hint">
          SPORTS CLUB
        </button>
        <button class="btn btn-outline-secondary" nbPopover="30TH MAY" nbPopoverMode="hint">
          INTERNAL AUDIT
        </button>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>
