<nb-card size="medium">
  <nb-card-body>
    <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

    <div class="details">
      <div class="title">
        RESTAURANTS ROOMS IMAGE
      </div>
      <div class="description">
        Xelpha Restaurant is the best restaurant reinvention story in Kenya right now. The Manhattan Beach location was home for more than 30 years to Café Pierre, a casual-chic French bistro for the after-surf escargot crowd. Guy Gabriele opened the spot as a creperie in 1977 and dressed it up for finer dining in the ‘80s and ‘90s. After a dramatic transformation last year, the restaurant re-opened as Love & Salt and started rising on 'Best New’ and just-plain-best lists of city eateries. I talked to Sylvie Gabriele, who with sister Melissa and their dad, orchestrated L.A.’s tastiest 180.
      </div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    <a href="#" >
      <i class="ion-ios-world"></i>
    </a>
    <a href="#" >
      <i class="ion-social-apple"></i>
    </a>
     <a href="#" >
      <i class="ion-social-android"></i>
    </a>
    <a href="#" >
      <i class="ion-social-github"></i>
    </a>
  </nb-card-footer>
</nb-card>
