<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card size="small">
      <nb-tabset>
        <nb-tab tabTitle="Facebook">
          <p>I have seen your services and am embressed with how you esteeem your customers. Keep it up.</p>
        </nb-tab>
        <nb-tab tabTitle="WhatsApp">
          <span>Your services are on right on time. I will step in again next time for  a meal.</span>
        </nb-tab>
        <nb-tab tabTitle="Twitter">
          <span>Your suites are luxurious indeed offering a world class rest. I will recommend friends to you. Thank you.</span>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="small">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="LinkedIn">
          <p>To make you competitive in market ensure that you upgrade your services to more advanced digitaal services. like for example online room reservation and ordering of food. And also improve o reception services</p>
        </nb-tab>
        <nb-tab tabTitle="Google+">
          <span>More of you.</span>
        </nb-tab>
        <nb-tab tabTitle="InstaGram">
          <span>I like your African dishes of supper.</span>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>

  <div class="col-md-6">
    <nb-card size="small">
      <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
    </nb-card>
  </div>
</div>
