<nb-card>
  <nb-card-header>Camping Suites</nb-card-header>
  <nb-card-body>
    <div class="shape-container">
      <div class="container-title">
        <span> </span>
      </div>
      <div class="subheader">
        <span></span>
        <span></span>
      </div>
      <div>
        <button class="btn btn-success btn-rectangle btn-demo">Family Rooms</button>
      </div>
    </div>

    <div class="shape-container">
      <div class="container-title">
        <span></span>
      </div>
      <div class="subheader">
        <span></span>
        <span></span>
      </div>
      <div>
        <button class="btn btn-success btn-semi-round btn-demo">Double Rooms</button>
      </div>
    </div>

    <div class="shape-container">
      <div class="container-title">
        <span></span>
      </div>
      <div class="subheader">
        <span></span>
        <span></span>
      </div>
      <div>
        <button class="btn btn-success btn-round btn-demo">Individual Rooms</button>
      </div>
	  
    </div>
  </nb-card-body>
</nb-card>
