<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Layout Rotate Search
      </nb-card-header>
      <nb-card-body>
        <nb-search type="rotate-layout" tag="rotate-layout"></nb-search>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Column Curtain Search
      </nb-card-header>
      <nb-card-body>
        <nb-search type="column-curtain" tag="column-curtain"></nb-search>
      </nb-card-body>
    </nb-card>
  </div>
</div>

